.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #333333;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #333333;
}

.checkbox_label {
  font-size: 16px;
  color: #333333;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: -12px 12px 18px -4px;
}

.onlyBrowser {
  display: block;
}

.onlyDesktop {
  display: none;
}

@media (min-width: 768px) {
  .onlyBrowser {
    display: none;
  }

  .onlyDesktop {
    display: block;
  }
}
